<div class="layer">
	<div class="page-header">
		<h1><%=@name %></h1>
	</div>

	<% @data_hash['result'].each do |data| %>
		 <h5 class="mb-1">time: <%= Time.at(data['time'].to_i).strftime("%H:%M:%S") %> 
		speed: <%= data['values'][0]['speed'] %></h5>
	<%end %>
	<img src="<%= renderpic_path(@img) %>">
</div>


