<p><%= @data_hash['title'] %>
<% @data_hash['result'].each do |data| %>
	time: <%= data['time'] %> 
	speed: <%= data['values'][0]['speed'] %> 
	<br>
	</p>
<%end %>

<img src="<%= renderpic_path(@img) %>">
