<div class="layer">
<div class="page-header">
  <h1>Databases</h1>
</div>
<a href="/new" > add new </a>
<div class="list-group">
<% @all_db.each do |name| %>
  <a href="/about_db/<%= name %>" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= name %></h5>
    </div>
  </a>
<%end %>
</div>
</div>

